.js-button1{
    background-color: rgb(98, 140, 166);
    
    font-size: 20px;
    padding: 14px 40px;
    border-radius: 12px;
    transition-duration: 0.2s;
    margin: auto;
    }
    .js-button1:hover{
    background-color: lightcoral;
    }
    #buttons{
        padding-left: 50px;
        padding-top: 50px;
    }
    #button2{
        left: 5px;;
    }
    #result{
        font-size: 25px;
        margin-top: 5px;
        background-color:bisque
    }
    #button2{
        margin-top: 5px;
        background-color: aquamarine;
    }
    #formbut:hover{
        background-color: coral;
    }
    #hidebutton:hover{
        background-color: coral;
    }