
body, html {
    background-color: rgb(134, 170, 174);
   
}

#form-section {
    margin-left: 450px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px; 
    height: 300px;
}
#createhead {
    text-align: center;
    color: #333333;
    margin-bottom: 20px;
}

.createform {
    margin-bottom: 15px;
}

.createform label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #666666;
}

.createform input {
    width: 100%;
    padding: 8px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-sizing: border-box;
}
.btn-primary:hover {
    margin-top: 10px;
    color: #ffffff;
    background-color: #0056b3;
    border-color: #0056b3;
}
.btn btn-primary{
    margin-top: 900px;
    margin-left: 520px;
}
