@page
@model WebApp1.Pages.CreateReservationModel
@{
    ViewData["Title"] = "Create Reservation";
}

<h1>Create Reservation</h1>

<form method="post">
  <div class="form-group">
                <label asp-for="NewReservation.Time"></label>
                <input asp-for="NewReservation.Time" class="form-control datetimepicker" />
                <span asp-validation-for="NewReservation.Time" class="text-danger"></span>
            </div>
    <div class="form-group">
        <label asp-for="NewReservation.RoomId"></label>
        <select asp-for="NewReservation.RoomId" class="form-control">
            @foreach (var room in Model.RoomsList)
            {
                <option value="@room.Id">@room.RoomName</option>
            }
            <span asp-validation-for="NewReservation.RoomId" class="text-danger"></span>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="NewReservation.ReserverName"></label>
        <input asp-for="NewReservation.ReserverName" class="form-control" />
        <span asp-validation-for="NewReservation.ReserverName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>
<script>
        $(function () {
            $('.datetimepicker').datetimepicker({
                format: 'YYYY-MM-DD HH:mm'
            });
        });
    </script>