@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<head>
     <link rel="stylesheet" href="~/css/Index1.css">
</head>

<div class="content-wrapper">
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
       
    </div>

    <div class="info-container">
        <div class="info-box">
            <h3>Login and Registration</h3>
            <p>Create accounts and log in with a username and password.</p>
        </div>
        <div class="info-box">
            <h3>User Profile</h3>
            <p>View and edit profile information, and see booking history.</p>
        </div>
        <div class="info-box">
            <h3>List Reservations</h3>
            <p>Browse available rooms, view features, and check the weekly schedule.</p>
        </div>
        <div class="info-box">
            <h3>Reservation Page</h3>
            <p>Book rooms, select dates and time slots, and confirm reservations.</p>
        </div>
        <div class="info-box">
            <h3>My Reservations</h3>
            <p>View, edit, or cancel current and past reservations.</p>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
